.containerSlide {
    margin: auto;
    background-size: cover;
}

.each-slide {
    position: relative;
    object-fit: cover;
    /*width: 1920px;*/
    width: 100vw;
    height: 480px;
}

@media (max-width: 1200px) {
    .each-slide {
        position: relative;
        object-fit: cover;
        width: 1000px;
        height: 400px;
    }
}

@media (max-width: 320px) {
    .each-slide {
        transition: -webkit-transform 0.6s ease-in-out !important;

    }
}



.slider_txt {
    position: absolute;
    top: 20%;
    left: 20%;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 30px;
    background-color: white;
    /*color: white;*/
    padding: 14px;
}

.slider_txt_2 {
    position: absolute;
    top: 30%;
    left: 20%;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 30px;
    background-color: white;
    padding: 14px;
}

@media (max-width: 1200px) {
    .slider_txt {
        font-size: 24px;
    }

    .slider_txt_2 {
        font-size: 24px;
    }
}